h1 {
    background-color: #fff6f2;
    text-align: center;
    font-size: 24px;
    color: #1c1607;
    border: 3px inset;
    border-radius: 6px;
    max-width: 200px;
    }

h2 {
    background-color: #333;
    text-align: center;
    font-size: 24px;
    color: white;
    }
    
h3 {background-color: #fff6f2;
    text-align: center;
    border-left: 1px;
    border-radius: 6px;
    max-width: 100px;
}

h6 {
    background-color: #fff6f2;
    text-align: center;
    font-size: 18px;
    color: #1c1607;
    font-style: italic;
    font-variant: small-caps;
    border: 3px outset black;
    border-radius: 6px;
    max-width: 400px;
    }    
    
body {
    background-color: #fff1cf;
    text-align: justify;
}

p {
    text-align: left;
    color: black
}
form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #111;
}

footer {
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 55px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ol.b {
    list-style-type: square;
    background-color: #fff1cf;
}

ul.a {
  list-style-type: square;
}

p.a {
    text-align: center;
    font-size: 18px;
}

#new {
    font-size: 16px;
    color: blue;
}

#instock {
    color: green;
}

#notinstock {
    color: red;
}

#limited {
    color: orange;
}

#stocked {
    color: green;
}
    